$gray-900: #0f0f0f;
$white: #ffffff;
$blue-500: #0000a3;
$gray-light: #e5e5e5;
$gray-300: #c8d5d9;
$gray-600: #6d7275;
$gray-border: #e6e6e6;
$gray-fill: #f4f4f4;
$poppins: 'Poppins', sans-serif;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $poppins;
}

.header {
  background-color: $gray-900;
  height: 70px;
  position: sticky;
  top: 0;

  &__mobile {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 22px;
  }

  .items-left,
  .items-right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    line-height: 0;
  }

  &__menu-toggle {
    border: 0;
    background-color: transparent;
    margin-right: 0.8125rem;
  }

  &__cart {
    position: relative;
    margin-left: 1.0625rem;

    .cart__items {
      position: absolute;
      background-color: $blue-500;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      top: -5px;
      right: -4px;
      text-align: center;
      font-size: 0.75rem;

      .cart__amount {
        color: $white;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  &__logo,
  &__search,
  &__cart,
  &__menu-toggle {
    cursor: pointer;
  }
}

.main {
  padding: 0 15px;
  margin-bottom: 48px;

  .product-category {
    margin-top: 48px;
    margin-bottom: 24px;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.2031rem;
    font-weight: 600;
    line-height: 2.3988rem;
  }

  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    list-style: none;
    margin-bottom: 16px;
    color: $gray-900;

    .product-card {
      background-color: $white;
      width: 165px;
      min-height: 297px;
      // border: 1px solid $gray-light;
      box-shadow: 0px 0px 0px 1px $gray-light;
      border-radius: 4px;
      overflow: hidden;

      .product-info {
        padding: 18px 14px 0;
      }

      .img {
        width: 137px;
        height: 140px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .name {
        font-size: 0.875rem;
        font-weight: 700;
        margin-top: 14px;
      }

      .description {
        font-size: 0.6875rem;
        font-weight: 400;
        line-height: 0.9806rem;
        margin-top: 6px;
        color: $gray-600;
      }

      .price {
        font-size: 0.885rem;
        font-weight: 600;
        line-height: 1.2519rem;
        margin: 12px 0;
      }

      .add-to-cart {
        border: 0;
        border-top: 1px solid $gray-light;
        height: 35px;
        width: 100%;
        margin-top: auto;
        padding: 7px;
        text-transform: uppercase;
        font-size: 0.885rem;
        font-weight: 600;
        color: $blue-500;
        line-height: 1.25rem;
      }
    }
  }

  .keep-shopping {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    padding: 12px 18px;
    border: 1px solid $gray-light;
    background-color: $white;

    .text {
      text-align: left;
      font-family: $poppins;

      .message {
        font-size: 0.7375rem;
      }

      .product {
        font-size: 1.53rem;
        text-transform: capitalize;
      }
    }
  }

  .filter {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;

    width: 123px;
    height: 36px;
    background-color: $blue-500;
    border-radius: 4px;
    border: 0;

    .text {
      text-transform: uppercase;
      font-size: 0.885rem;
      font-weight: 700;
      color: $white;
      margin-right: 0.4375rem;
    }
  }
}

.footer {
  text-align: center;

  .call-to-action {
    min-height: 209px;
    background-color: $gray-900;
    color: $white;
    padding: 36px;

    .question {
      font-size: 0.885rem;
      font-weight: 700;
      line-height: 1.2519rem;
      margin-bottom: 18px;
    }

    .buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      gap: 12px;

      .chat,
      .llamar {
        width: 70px;
        font-size: 0.7375rem;
        font-weight: 700;

        .btn {
          height: 70px;
          width: 70px;
          border: 0;
          background-color: $white;
          border-radius: 50%;
          margin-bottom: 12px;
          cursor: pointer;
        }
      }
    }
  }

  .links {
    margin-top: 36px;

    .item {
      margin-bottom: 18px;
      list-style: none;

      .link {
        font-size: 0.885rem;
      }
    }
  }

  .break {
    margin: 36px auto;
    width: 40px;
    border: 0;
    height: 1px;
    background: $gray-300;
  }

  .instagram {
    display: flex;
    align-items: center;
    justify-content: center;

    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: $blue-500;
    }
  }

  .data-policy {
    font-size: 0.7375rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 18px;
    margin-bottom: 36px;

    .link {
      font-size: 0.7375rem;
    }
  }

  .copyright {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 47px;
    background-color: $gray-900;
    color: $white;
    font-weight: 700;
    font-size: 0.6875rem;
  }
}

.icon--white {
  filter: invert(98%) sepia(67%) saturate(0%) hue-rotate(148deg)
    brightness(118%) contrast(100%);
}

.link {
  font-size: 0.885rem;
  font-weight: 700;
  color: $gray-900;
  text-transform: capitalize;
  text-decoration: none;
}
