*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: #0f0f0f;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}

.header__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px 20px 22px;
}

.header .items-left,
.header .items-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
}

.header__menu-toggle {
  border: 0;
  background-color: transparent;
  margin-right: 0.8125rem;
}

.header__cart {
  position: relative;
  margin-left: 1.0625rem;
}

.header__cart .cart__items {
  position: absolute;
  background-color: #0000a3;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  top: -5px;
  right: -4px;
  text-align: center;
  font-size: 0.75rem;
}

.header__cart .cart__items .cart__amount {
  color: #ffffff;
  font-weight: 700;
  line-height: normal;
}

.header__logo, .header__search, .header__cart, .header__menu-toggle {
  cursor: pointer;
}

.main {
  padding: 0 15px;
  margin-bottom: 48px;
}

.main .product-category {
  margin-top: 48px;
  margin-bottom: 24px;
  text-align: center;
  text-transform: capitalize;
  font-size: 2.2031rem;
  font-weight: 600;
  line-height: 2.3988rem;
}

.main .products-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 18px;
  list-style: none;
  margin-bottom: 16px;
  color: #0f0f0f;
}

@media screen and (min-width: 768px) {
  .main .products-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.main .products-container .product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: #ffffff;
  width: 165px;
  min-height: 297px;
  -webkit-box-shadow: 0px 0px 0px 1px #e5e5e5;
          box-shadow: 0px 0px 0px 1px #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto;
}

.main .products-container .product-card.hide {
  display: none;
}

.main .products-container .product-card .product-info {
  padding: 18px 14px 0;
}

.main .products-container .product-card .img {
  width: 137px;
  height: 140px;
}

.main .products-container .product-card .img img {
  width: 100%;
  height: auto;
}

.main .products-container .product-card .name {
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 14px;
}

.main .products-container .product-card .description {
  min-height: 48px;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 0.9806rem;
  margin-top: 6px;
  color: #6d7275;
}

.main .products-container .product-card .price {
  font-size: 0.885rem;
  font-weight: 600;
  line-height: 1.2519rem;
  margin: 12px 0;
}

.main .products-container .product-card .add-to-cart {
  border: 0;
  border-top: 1px solid #e5e5e5;
  height: 35px;
  width: 100%;
  margin-top: auto;
  padding: 7px;
  text-transform: uppercase;
  font-size: 0.885rem;
  font-weight: 600;
  color: #0000a3;
  line-height: 1.25rem;
}

.main .keep-shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 72px;
  padding: 12px 18px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.main .keep-shopping .text {
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.main .keep-shopping .text .message {
  font-size: 0.7375rem;
}

.main .keep-shopping .text .product {
  font-size: 1.53rem;
  text-transform: capitalize;
}

.main .filter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 156px;
  height: 36px;
  background-color: #0000a3;
  border-radius: 4px;
  border: 0;
}

.main .filter-btn .filters {
  width: 26px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 10px;
}

.main .filter-btn .filters .amount {
  font-size: 0.885rem;
  font-weight: 600;
  color: #0f0f0f;
}

.main .filter-btn .text {
  text-transform: uppercase;
  font-size: 0.885rem;
  font-weight: 700;
  color: #ffffff;
  margin-right: 0.4375rem;
}

.main .filter-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 5;
  left: 0;
  top: 0;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.main .filter-modal.modal-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main .filter-modal .background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main .filter-modal .options {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 284px;
  bottom: 5px;
  left: 0;
  z-index: 3;
}

.main .filter-modal .options .container {
  padding: 12px 15px 0;
}

.main .filter-modal .options .container .title {
  font-weight: 700;
  font-size: 1.275rem;
  line-height: 1.795rem;
  margin-bottom: 12px;
}

.main .filter-modal .options .container .break {
  margin: 13px 0;
  border: 0;
  height: 1px;
  background: #e5e5e5;
}

.main .filter-modal .options .container .checkbox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .filter-modal .options .container .checkbox-group .label {
  font-size: 0.885rem;
  font-weight: 400;
  color: #0f0f0f;
}

.main .filter-modal .options .container .checkbox-group .input {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}

.main .filter-modal .options .container .checkbox-group .input:checked {
  color: red;
}

.main .filter-modal .options .filter-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 14px 15px;
  background-color: #f4f4f4;
}

.main .filter-modal .options .filter-buttons .filter-clear,
.main .filter-modal .options .filter-buttons .filter-apply {
  height: 40px;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 0.885rem;
  font-weight: 700;
}

.main .filter-modal .options .filter-buttons .filter-clear {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.main .filter-modal .options .filter-buttons .filter-apply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0000a3;
  border: 0;
}

.main .filter-modal .options .filter-buttons .filter-apply .text {
  color: #ffffff;
  margin-right: 10px;
}

.main .filter-modal .options .filter-buttons .filter-apply .filters {
  width: 26px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 10px;
}

.main .filter-modal .options .filter-buttons .filter-apply .filters .amount {
  font-size: 0.885rem;
  font-weight: 600;
  color: #0f0f0f;
}

.main .filter-modal .options .close-modal {
  position: absolute;
  width: 38px;
  height: 38px;
  top: -18px;
  right: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.footer {
  text-align: center;
}

.footer .call-to-action {
  min-height: 209px;
  background-color: #0f0f0f;
  color: #ffffff;
  padding: 36px;
}

.footer .call-to-action .question {
  font-size: 0.885rem;
  font-weight: 700;
  line-height: 1.2519rem;
  margin-bottom: 18px;
}

.footer .call-to-action .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}

.footer .call-to-action .buttons .chat,
.footer .call-to-action .buttons .llamar {
  width: 70px;
  font-size: 0.7375rem;
  font-weight: 700;
}

.footer .call-to-action .buttons .chat .btn,
.footer .call-to-action .buttons .llamar .btn {
  height: 70px;
  width: 70px;
  border: 0;
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 12px;
  cursor: pointer;
}

.footer .links {
  margin-top: 36px;
}

.footer .links .item {
  margin-bottom: 18px;
  list-style: none;
}

.footer .links .item .link {
  font-size: 0.885rem;
}

.footer .break {
  margin: 36px auto;
  width: 40px;
  border: 0;
  height: 1px;
  background: #c8d5d9;
}

.footer .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .instagram .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #0000a3;
}

.footer .data-policy {
  font-size: 0.7375rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 18px;
  margin-bottom: 36px;
}

.footer .data-policy .link {
  font-size: 0.7375rem;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 47px;
  background-color: #0f0f0f;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.6875rem;
}

.icon--white {
  -webkit-filter: invert(98%) sepia(67%) saturate(0%) hue-rotate(148deg) brightness(118%) contrast(100%);
          filter: invert(98%) sepia(67%) saturate(0%) hue-rotate(148deg) brightness(118%) contrast(100%);
}

.link {
  font-size: 0.885rem;
  font-weight: 700;
  color: #0f0f0f;
  text-transform: capitalize;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */